body {
  background:#EEE;
}
#message-screen {
  padding:12px;
  margin:0 auto;
  max-width:800px;
}
.message-views-container.loading {
  cursor:wait;
  filter:grayscale();
}
.message-view {
  width:100%;

  padding:24px;
  margin-bottom:12px;
  background:white;
  border:1px solid grey;
  border-radius:24px;
}
.message-text {
  font-size:1.5rem;
  margin:8px 0;
}


.message-topic {
  cursor:pointer;
  display: inline-block;
  min-width:60px;
  text-align: center;
  padding:8px;
  background:lightgray;
  border:1px solid grey;
  border-radius:8px;
}
.message-topic.selected {
  background:orange;
}
